:root {
  box-sizing: border-box;
}

*, *:before, *::after {
  box-sizing: inherit;
}

body {
  max-width: 1200px;
  margin: 0 auto;
  border: 1px solid black;
  display: flex; 
  flex-direction: column;
  align-items: center;
  font-family: 'Raleway', sans-serif;
}

h1 {
  font-weight: 700;
}

button {
  background-color: white;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(7, 1fr);
  gap: .5em;
  align-items: center;
  justify-content: center;
}

.item,
.item:disabled {
  border: 1px solid black;
  color: black;
  padding: .5em;
  text-align: center;
  font-size: 2rem;
  align-self: center;
}

.item-interact:hover {
  background-color: black;
  color: white;
}

.item-interact:active {
  background-color: black;
  color: white;
  transform: translateY(4px);
  box-shadow: 0 2px #666;
}

.running-total {
  grid-column: 1/5;
  grid-row: 1/2;
}

.total {
  grid-column: 1/5;
  grid-row: 2/3;
  text-align: center;
}

.clear {
  grid-column: 2/4;
  grid-row: 6;
}