:root {
  box-sizing: border-box;
  --display-background: #666;
}

*, *:before, *::after {
  box-sizing: inherit;
}

body {
  max-width: 1200px;
  margin: 0 auto;
  display: flex; 
  flex-direction: column;
  align-items: center;
  font-family: 'Raleway', sans-serif;
}

h1 {
  font-weight: 700;
}

button {
  background-color: white;
}

.container {
  display: grid;
  background-color: rgb(164, 24, 177);
  border: 1px solid black;
  border-radius: .5em;
  padding: .5em;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(7, 1fr);
  gap: .5em;
  align-items: center;
  justify-content: center;
  
}

.item,
.item:disabled {
  border: 1px solid black;
  color: black;
  padding: .5em;
  text-align: center;
  font-size: 2rem;
  align-self: center;
}

.item-interact:hover {
  background-color: black;
  color: white;
}

.item-interact:active {
  background-color: black;
  color: white;
  transform: translateY(4px);
  box-shadow: 0 2px #666;
}

.running-total {
  background-color: var(--display-background);
  border-bottom: none;
  color: white;
  font-size: 1.4rem;
  grid-column: 1/5;
  grid-row: 1/2;
  border-bottom: none;
  margin-bottom: -50px;
  text-align: right;
  padding: 1em;
 
}

.total {
  border-top: none;
  background-color: var(--display-background);
  color: white;
  grid-column: 1/5;
  grid-row: 2/3;
  text-align: center;
}

.clear {
  background-color: rgba(215, 90, 36, 0.982);;
  grid-column: 2/4;
  grid-row: 7;
}

.number {
  background-color: rgb(28, 136, 107);
}

.operator {
  background-color: rgb(24, 149, 177);
}
